<%- include('../partials/header') %>
<h2>Edit</h2>
<form action="/coins/<%= coin._id %>" method="POST">
    <label>Name:
      <input type="text" name="name" value="<%= coin.name %>">
    </label><br>
    <label>Symbol:
      <input type="text" name="symbol" value="<%= coin.symbol %>">
    </label><br>
    <label>Price USD
        <input type="number" name="price_usd" value="<%= coin.price_usd %>">
    </label><br>
    <label> Amount:
      <input type="number" name="amount" value="<%= coin.amount %>">
    </label><br>
    <a href="/coins/<%= coin._id %>/edit">
      <button type="submit">Edit</button>
    </a>
  </form>
<%- include('../partials/footer') %>