<%- include('../partials/header') %>

    <section id=" 'favorite-page">
        <div>
            <%= coin.name %>
        </div>
        <div>
            <%= coin.symbol %>
        </div>
        <div>
            <%= coin.price_usd %>
        </div>
        <div>
            <%= coin.amount %>
        </div>
        <div>
            <%= coin.value %>
        </div>

    </section>



<%- include('../partials/footer') %>